.FormElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
