.FilterForm {
    width: 100%;
  }
  
  .FormElements {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
  }
  
  .DeleteBtn{
    padding: 0;
    border: unset;
    background-color: unset !important;
  }
  .FilterWrapper {
    display: flex;
    gap: 20px;
  }
  