.FormElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.input {
  width: 100%;
}

.org-table {
  height: calc(28vh - 64px);
}

.table-doc {
  height: 23vh;
}
