.antdTableCell label{
  height: unset;
  font-size: 10px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 24px;
}
.orgInfo{
  font-weight: bold;
  font-size: 14px;
  color: rgba(39, 65, 120, 0.9);
  padding: 8px 6px;
  cursor: pointer;
  display: flex;
}
.orgInfo:nth-child(even){
  background-color:rgb(241, 251, 255);
}
.key{
  flex: 0.4;
  font-weight: 400;
}
.value{
  flex: 0.6;
}