.FormElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.orgInfo{
  font-weight: bold;
  font-size: 16px;
  color: rgba(39, 65, 120, 0.9);
  padding: 8px 6px;
  cursor: pointer;
  display: flex;
}
.orgInfo:nth-child(even){
  background-color:rgb(241, 251, 255);
}
.key{
  flex: 0.4;
}
.value{
  flex: 0.6;
  font-weight: normal;
}